body {
  background-color: lightblue;
  color: midnightblue;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  margin: 50px 100px;
}

ol {
  background-color: aliceblue;
  border: 1px solid royalblue;
  padding: 5px 5px 5px 40px;
}

li {
  border: 1px dotted cadetblue;
  margin-left: -15px;
  padding: 20px 5px;
}

a {
  color: dodgerblue;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}
